
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0 }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtitc68QDbUuOJD81096HEzBGpNOhrxk&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
         <% if ! restaurant_list.nil? %>
         <% @restaurant_list = restaurant_list %>
        <% end %>

        <% restaurants = @restaurant_list %>
      	<% lat = [] %>
      	<% lng = [] %> 
      	<% restaurants.each do |restaurant| %>
      	<% lat << restaurant.latitude %>
				<% lng << restaurant.longitude %>
				<% end %>
		
				<% n = lng.count %>
				<% map_lat = lat.reduce(:+)/n %>
				<% map_lng = lng.reduce(:+)/n %>

        var mapOptions = {
          center: new google.maps.LatLng(<%= map_lat %>, <%= map_lng %>),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);


			  function addMarker(lat, lng, content) {	
  	    	var marker = new google.maps.Marker({
    	      position: new google.maps.LatLng(lat, lng),
    	      map: map,
            information: content,
    	      animation: google.maps.Animation.DROP,
    	      icon: '/assets/pig.gif'
  		    });

          return marker

		    }

        var markers = []

        <% restaurants.each do |restaurant|  %>
  				<% longitude = restaurant.longitude %>
  				<% latitude = restaurant.latitude %>
          // <% content = { name: restaurant.name, rating: restaurant.rating, rating_image: restaurant.rating_image, display_address: restaurant.display_address, url: restaurant.url, phone: restaurant.phone } %>
          <% if current_user.favorites.where(restaurant_id: restaurant.id).empty? %>
          <% content = "</h4>" + restaurant.name + "</h4>" + "#{escape_javascript(render('favorites_form', restaurant: restaurant))}" %>
          <% else %>
          <% content = "</h4>" + restaurant.name + "</h4>" + "<p id='infowindow-favorite-text'>Marked as favorite!</p>" %>
          <% end %>

  		
  		    markers.push(addMarker(<%= latitude %>, <%= longitude %>, "<%= content.html_safe %>"));
          
  		  <% end %>
         
        var infowindow = new google.maps.InfoWindow();

        for (var i = 0, marker; marker = markers[i]; i++) {
          google.maps.event.addListener(marker, 'click', function(e) {
            map.panTo(this.getPosition());
            map.setZoom(13);
            infowindow.setContent(this.information);
            infowindow.open(map, this);
          });
        } 

      
    }
    
      google.maps.event.addDomListener(window, 'load', initialize);
      initialize();

    
   

    </script>

  
  </head>
  <body>
    <div id="map-canvas"/>
  </body>