<%= form_tag('/search', method: :get, remote: :true) do %>

<%= label_tag :location, "Enter Location" %>
<%= select_tag :location, options_from_collection_for_select(City.all, :name, :name) %>

<%= label_tag :category, "Enter Category" %>
<%= select_tag(:category, options_from_collection_for_select(Category.all, :name, :name)) %>

<%= submit_tag "Go!" %>
<% end %>



<% if @location !=nil %>
	<%= render 'list', restaurant_list: @restaurant_list %>
</table>
<% end %>



<%= render 'yelp/map', restaurant_list: @restaurant_list %>
