<!DOCTYPE html>
<html>
<head>
  <title>Pigout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <%= image_tag 'pig-logo.png', width: '30px' %>
	    <div class='pull-right'>
	    	<% if user_signed_in? %>
  	      Logged in as <strong><%= current_user.email %></strong>.
  	      <%= link_to 'Edit profile', edit_user_registration_path%> |
  	      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  	    <% else %>
  	      <%= link_to "Sign up", new_user_registration_path %> |
  	      <%= link_to "Login", new_user_session_path %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  	    <% end %>

	    </div>
  	</div>
  </div>

		
		<p class="notice"><%= notice %></p>
  	<p class="alert "><%= alert %></p>
    	<%= yield %>

</body>
</html>
